.button {
  min-width: 7.5rem;
  height: 3rem;

  border: 0.125rem solid var(--color-brand-primary);
  border-radius: 0.5rem;

  color: var(--color-text-main);
  background-color: var(--color-bg-card-default);

  font-family: "Press Start 2P", monospace;
  font-size: 0.75rem;

  cursor: pointer;

  &--primary {
    // EMPEZAR y JUGAR OTRA VEZ
    background-color: var(--color-btn-primary);
    min-width: 10rem;
    color: var(--color-text-main);
    padding: 0.5rem;
    box-shadow: 3px 3px 0 var(--color-shadow-default);
  }

  &--secondary {
    // PUNTUACIONES
    background-color: var(--color-btn-secondary);
    color: var(--color-text-main);
    padding: 0.5rem;
    border: none;
    box-shadow: 3px 3px 0 var(--color-border-secondary);
  }

  &--tertiary {
    // VOLVER

    color: var(--color-text-main);
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--color-btn-tertiary);
    text-decoration-thickness: 2px;
  }
}
.button--easy,
.button--easy-selected,
.button--easy-disabled {
  background: var(--color-diff-easy);
  border: 2px solid var(--color-border-easy);
}

.button--medium,
.button--medium-selected,
.button--medium-disabled {
  background: var(--color-diff-medium);
  border: 2px solid var(--color-border-medium);
}

.button--hard,
.button--hard-selected,
.button--hard-disabled {
  background: var(--color-diff-hard);
  border: 2px solid var(--color-border-hard);
}

.button--expert,
.button--expert-selected,
.button--expert-disabled {
  background: var(--color-diff-expert);
  border: 2px solid var(--color-border-expert);
}

.button--disabled {
  background-color: var(--color-btn-primary);
  min-width: 10rem;
  color: var(--color-text-main);
  padding: 0.5rem;
  box-shadow: 3px 3px 0 var(--color-shadow-default);
  opacity: 0.35;
}
.button--easy-disabled,
.button--medium-disabled,
.button--hard-disabled,
.button--expert-disabled {
  opacity: 0.35;
}
