.button {
  min-width: 7.5rem;
  height: 3rem;
  padding: 0.5rem 0.875rem;

  border: 0.125rem solid var(--color-brand-primary);
  border-radius: 0.25rem;

  color: var(--color-text-main);
  background-color: var(--color-bg-card-default);

  font-family: "Press Start 2P", monospace;
  font-size: 0.75rem;

  cursor: pointer;

  &--primary {
    // EMPEZAR
    border: 1px solid black;
    background: var(--color-btn-primary);
  }

  &--secondary {
    // PUNTUACIONES
  }

  &--tertiary {
    padding: 0;

    border: none;
    border-radius: 0;

    font-size: 0.7rem;
    text-decoration: underline;
  }
}
.button--easy,
.button--easy-selected,
.button--easy-disabled {
  background: var(--color-diff-easy);
  border-color: var(--color-diff-easy);
}

.button--medium,
.button--medium-selected,
.button--medium-disabled {
  background: var(--color-diff-medium);
  border-color: var(--color-diff-medium);
}

.button--hard,
.button--hard-selected,
.button--hard-disabled {
  background: var(--color-diff-hard);
  border-color: var(--color-diff-hard);
}

.button--expert,
.button--expert-selected,
.button--expert-disabled {
  background: var(--color-diff-expert);
  border-color: var(--color-diff-expert);
}

.button--disabled {
  border: 1px solid black;
  background: var(--color-brand-primary);
  opacity: 0.35;
}
.button--easy-disabled,
.button--medium-disabled,
.button--hard-disabled,
.button--expert-disabled {
  opacity: 0.35;
}
