.footer {
  padding: 1rem;
  margin-top: 1rem;

  min-height: 120px;
  max-height: 300px;

  display: flex;
  justify-content: center;
  color: var(--color-text-main);
}

.footer__container {
  width: 100%;
  min-width: 260px;
  max-width: 600px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: clamp(0.5rem, 2vw, 1.5rem);
}

.footer__brand {
  font-size: clamp(0.7rem, 1.2vw, 1rem);
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  gap: 1.2rem;

  a {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
  }
}

.footer__subtitle {
  font-size: clamp(0.6rem, 1vw, 0.9rem);
}

.footer__contact {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  a {
    font-size: clamp(0.7rem, 1.2vw, 1rem);
  }
}
a {
  text-decoration: none;
  &:active {
    text-decoration: none;
    color: var(--color-text-main);
  }
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: none;
    color: var(--color-text-main);
  }
}
