.landing-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
}

// HEADER

.landing-page__header {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 11px;
}

.landing-page__top {
  width: 100%;
  display: flex;
  align-items: center;
}

.landing-page__logo {
  width: 5rem;
  height: 5rem;
  transform: rotate(10deg);

  object-fit: cover;
}

.landing-page__navigation {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page__navigation-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.75rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

.landing-page__navigation-item a {
  text-decoration: none;
}

// MAIN

.landing-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-top: 3rem;
}

.landing-page__title {
  text-align: center;
}

.landing-page__subtitle {
  position: relative;

  margin: 0.75rem 0 0;
  padding-bottom: 2rem;

  text-align: center;
}

// GAME FLOW

.landing-page__game-flow {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

// CÓMO JUGAR

.landing-page__instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page__instructions-button {
  font-size: 12px;
  background: none;
  padding-bottom: 0.3rem;
  border: none;
  border-bottom: 1px solid var(--color-btn-primary);

  cursor: pointer;
}

// INSTRUCCIONES

.landing-page__instructions {
  padding: 0.5rem;

  border: 2px solid var(--color-brand-primary);

  border-radius: 4px;

  font-size: 0.6rem;
  line-height: 2;

  text-align: center;
}

// EMPEZAR

.landing-page__game-flow > .button {
  font-size: 14px;
  background: var(--color-btn-primary);
  margin-top: 1.5rem;
}

// RANKING

.landing-page__ranking {
  font-size: 8px;
  margin: 3.5rem 0;
  text-decoration: none;
  padding-bottom: 0.3rem;
  border: none;
  border-bottom: 1px solid var(--color-btn-primary);
}
