.login {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1rem;
}

.login__main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 3rem;

  text-align: center;
}

.login__title {
  margin: 0 0 2rem;
  font-size: 22px;
}
.login__subtitle {
  color: var(--color-text-muted);
  letter-spacing: 4px;
  line-height: 1.4;
}
.login__message {
  display: flex;
  flex-direction: column;

  margin: 2rem 0 2rem 0;
  padding: 1rem 0;
  color: var(--color-text-main);

  font-size: 0.8rem;
  line-height: 1.6;
  gap: 1rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.login__social-message {
  color: var(--color-brand-primary);
  font-size: 0.6rem;
  margin-bottom: 2rem;
  line-height: 2;
}

.login__social-link,
.login__social-link:visited,
.login__social-link:hover,
.login__social-link:active {
  text-decoration: underline;
  color: var(--color-text-main);
}
