@use "./styles/variables" as v;
@use "./styles/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;

  color: var(--color-text-main);
  background: linear-gradient(
    135deg,
    var(--color-brand-primary) 0%,
    var(--color-brand-secondary) 60%
  );

  font-family: "Press Start 2P", "Crafty Girls", monospace, system-ui;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
button,
input {
  font: inherit;
  text-decoration: none;
}
a {
  text-decoration: none;
}
